body{
	position: relative;
	margin: 0;
}

/*****div#head*****/

#header{
	height: 125px;
	background-color: #282828;
}

#title{
	padding-top: 20px;
	padding-left: 80px;
	font-size: 45px;
	font-family: Times New Roman,'微软雅黑';
	color: #ff8040;
	cursor: pointer;
}

/*****div#cntr*****/
.main-cntr{
	float: left;
	width: 240px;
	height: 240px;
	border: 1px solid #ff8040;
	font-size: 32px;
	font-family: Times New Roman,'微软雅黑';
	color: #ff8040;
	cursor: pointer;
	background-color: #eaeaea;
}

.main-cntr div{
	margin-top: 102px;
	margin-left: 56px;
}

/*****div#task*****/

#task{
	float: left;
	width: 450px;
	padding-left: 60px;
	font-size: 16px;
	font-family: Times New Roman,'楷体';
}

#tstitle{
	height: 29px;
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	border-top: 1px solid #282828;
	border-right: 1px solid #282828;
	border-left: 1px solid #282828;
}

#tslist{
	margin: 0;
	padding: 10px 15px;
	text-align: center;
	border: 1px solid #282828;
	overflow: auto;
}

/*****div#detail*****/

#detail{
	float: left;
	width: 640px;
	padding-left: 25px;
	font-size: 16px;
	font-family: Times New Roman,'楷体';
}

/*****div#foot*****/

#footer{
	padding: 10px 0;
	background-color: #282828;
	text-align: center;
	font-size: 16px;
	font-family: Times New Roman,'楷体';
	font-weight: lighter;
	color: #cccccc;
}

#footer a{
	text-decoration: none;/*添加到文本的修饰*/
}

#footer a:link,#footer a:hover,#footer a:visited{
	color: green;
}

/*****special div#window*****/

#window{
	position: absolute;
	width: 600px;
	margin: 0;
	padding: 10px;
	overflow: auto;
	background-color: white;
	border: 1px solid #282828;
	z-index: 1000;
	display: none;
	text-align: center;
}

#window img{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15px;
	cursor: pointer;
}

.window-table-cntr{
	padding: 10px 0;
	overflow: auto;
	text-align: left;
}

/*****special div#waiting window*****/

#window-waiting{
	position: absolute;
	width: 175px;
	height: 175px;
	z-index: 1000;
	display: none;
	text-align: center;
	font-size: 24px;
	font-family: Times New Roman,'楷体';
	font-weight: bolder;
}

/*****special div#background*****/

#background{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgb(128,128,128);
	opacity: 0.6;
	display: none;
}